<%= @user.id %>
<% if current_user != @user %> 
  <div class="add">
    <% if current_user.has_invited?(@user) || current_user.friends?(@user) %>
        <%= render 'friendships/unfriendship' %> 
    <% else %>
        <%= render 'friendships/friendship' %> 
    <% end %>
  </div>
<% end %>


<% if current_user.friends?(@user) %>
  <P>Son amigos</P>
<% end %>
